* {
	box-sizing:border-box;
}
body {
	font:14px/1.4 'Arial', sans-serif;;
}
.form-container {
	position:absolute;
	padding:4px;
	border:1px solid black;
	border-radius:8px;
	background: rgba(230,230,230,.6);
	box-shadow:-1px -1px 4px rgba(0,0,0,0.5);
}
.form-row {
	width:100%;
}

.form-row::after {
	display:block;
	content:"";
	clear:both;
	min-height:1px;
}

.form-row+.form-row {
	padding-top:2px;
}

.label-title, .radio-title {
	float:left;
	width: 70%;
	padding-right:2px;
}

.radio-title {padding-left: 15px}

.input-container, .hex-count-container {
	float:left;
	width:30%;
}

.hex-count-container {
	padding:2px;
	border:1px solid gray;
	border-radius:4px;
}

.grid {
	
}

label {
	display:block;
	cursor:pointer;
}

input[type="text"], input[type="number"] {
	padding:2px;
	display:inline-block;
	width:100%;
	border:1px solid black;
	border-radius:4px;
	box-shadow:none;
}

input[type="radio"]:disabled, .disabled {
	cursor:not-allowed;
}

input {
	font:inherit;
	background: rgba(250,250,250,.75);
}

.generate-button {
	width:100%;
	margin-top:4px;
	padding:4px;
	border-width:1px;
	border-radius:4px;
	background:rgba(210,210,210,.75);
	outline:none;
}
.generate-button:hover {
	background:rgba(225,225,225,.75);
	box-shadow:0 0 3px rgba(50,50,50,0.6);
}
.generate-button:active {background:rgba(200,200,200,.8);}

.grid-size-input {}